SSOURL=http://demo.aggregatoricapaci.com:9999
CLIENTID=CarDoctor
CLIENTSECRET=2qazXSW@3edcVFR$5tgbNHY^7ujm<KI*9ol.?:P):))
APIURL=http://demo.aggregatoricapaci.com:56789
IMAGEURL=http://demo.aggregatoricapaci.com:56789/cms/files/
MAPKEY=d353070a772a526aa6bf282e766aef16