SSOURL=https://sso-api.cardoctor.com.vn
CLIENTID=CarDoctor
CLIENTSECRET=2qazXSW@3edcVFR$5tgbNHY^7ujm<KI*9ol.?:P):))
APIURL=https://api.cardoctor.com.vn
IMAGEURL=https://api.cardoctor.com.vn/cms/files/
MAPKEY=d353070a772a526aa6bf282e766aef16
ACCESSORY_URL=https://chophukien.cardoctor.com.vn/zxc
ACCESSORY_KEY=T4eAkk7VklOHbqxAgALEWrc8TRK4dbaRF5nq6V1dDzd1WckoNGMITXlrs7xcihHQ2IXhnx1bV7UQlsj1U7s4Xiiqntv8FUlxqxceM6A0ZMcE458Ra1BtOKsxgmpEdA10xTgoovOIYxaMhL5TQwclrUb0OfzDtTYecWnaLFXPCcWQKFCnFtsxogC2m5cza6bzz2cB0hdm