SSOURL=http://demo.aggregatoricapaci.com:9999
CLIENTID=CarDoctor
CLIENTSECRET=2qazXSW@3edcVFR$5tgbNHY^7ujm<KI*9ol.?:P):))
APIURL=http://demo.aggregatoricapaci.com:56789
IMAGEURL=http://demo.aggregatoricapaci.com:56789/cms/files/
MAPKEY=d353070a772a526aa6bf282e766aef16
ACCESSORY_URL=http://demo.aggregatoricapaci.com:5557/zxc
ACCESSORY_KEY=qkEOx6Xa5PJGPi3Xa3g1L0V0fav759zu4NHlT0WEEFX1wBZHAnVbKCKHpT3vmSxRGUIfwr7TZkxU6G6pTKHI1T95waZ0pFEz1OcSDm52vFU6jMvIOhudBE4jo0acxbgE